footer.footer {
  background: white;
  padding: 50px 0 100px;

  @media( max-width: $md ) {
    padding-left: 30px;
    padding-right: 30px;

    .col-md-5ths.col-xs-12 {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .nav-link {
    padding: 0;
  }
}

#footer_logo_hria {
  max-width: 100%;
}

@media( min-width: $md ) {
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
    padding-bottom: 100px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
    background-color: #f5f5f5;
  }

}

.circles {


  margin: 0;
  height: 60px;
  div {
    background: darken( $gray-darker, 40% );
    float: left;
    margin-right: 10px;
  }

  img {
    margin-right: 5px;
    opacity: 0.8;
    transition: $transition-base;
    width: 40px;
    height: 40px;

    &:hover {
      opacity: 1;
    }
  }

  @media( min-width: $md ) and ( max-width: $lg ) {
    img {
      width: 30px;
      height: 30px;
    }
  }
}
.footer-content-wrapper {
  h3 {
    font-family: $main-font;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  ul > li, p {
    font-family: $main-font;
    font-size: 1rem;
  }

  &.team {
    h3{
      color: $brand-red;
    }
  }
  &.customer {
    h3 {
      color: $brand-secondary;
    }
  }
  &.candidate {
    h3 {
      color: $brand-primary;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li > a {
      color: darken( $gray-darker, 40% );
    }
  }
}