/* Base Styles -------------------- */
body {
  font-family: $main-font;
  background: $bg-color;
  overflow-x: hidden;
}

section.section {
  padding: 50px 0;

  @media( min-width: $md ) {
    padding: 100px 0 50px;
  }
}

h1,h2,h3,h4,h5 {
  font-family: $bold-font;
}

p.lg {
  font-size: 1.4rem;
}