//Custom variables

// Descriptive color variables
$bg-color: #f2f2f2;
$brand-orange: #ff8e32;

// Brand colors from original website talentcube.de
$blue-light: #38abf8;
$blue: #38abf8;
$blue-dark: #0081C1;
$blue-darker: #0B497A;

$apply-primay: #0071f2;

$gray-lighter: #f9f9f9;
$gray-light: #f9f9f9;
$gray: #eaeaea;
$gray-dark: #d8d8d8;
$gray-darker: #bbb9b9;

$gray-chatbox: #f2f2f2;


$black-transparent: rgba(0, 0, 0, 0.8);

$brand-primary: $blue;
$brand-primary-transparent: rgba(56, 171, 248, 0.8);
$brand-secondary: #50e3c2;
$brand-secondary-transparent: rgba(80, 227, 194, 0.8);
$brand-red: #DD394D;

$step2: #E1F8FE;
$step3: #BAF1FE;


$brand-primary-hover: #1680C7;
$brand-secondary-hover: #2AAC8F;

// Functional color variables

// Font stacks
@font-face {
  font-family: 'NiveauGroteskRegular';
  src: url("../font/NiveauGroteskRegular.otf");
}

@font-face {
  font-family: 'NiveauGroteskMedium';
  src: url("../font/NiveauGroteskMedium.otf");
}

@font-face {
  font-family: 'NiveauGroteskBold';
  src: url("../font/NiveauGroteskBold.otf");
}


$main-font: 'NiveauGroteskRegular', sans-serif;
$medium-font: 'NiveauGroteskMedium', sans-serif;
$bold-font: 'NiveauGroteskBold', sans-serif;



/* Breakpoints
-------------------------------------------------- */
$xxs: 320px;
$xs: 480px;
$s: 544px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;


// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
