.advantages-wrapper {
  .card {
    border: 0 none transparent;

    @media( max-width: $md ) {
      margin-top: 50px;
    }

    .card-body {
      padding-left: 30px;
      padding-right: 30px;
      min-height: 350px;

      h3 {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}

.advantage-icon {
  width: 50px;
  margin-top: -60px;
}