.section.apply-app-wrapper {
  color: black;

  @media( min-width: $md ) {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  @media( min-width: 767px ) and ( max-width: 1032px ) {
    .store-btn-row {
      width: 200%;
    }
  }

  padding: 0;

  > .container {
    padding: 50px 40px;
    background: $secondary;
  }

  .img-store {
    @media( max-width: $md ) {
      max-width: 200px;
      margin-bottom: 10px;
    }
  }

  .phone-wrapper {
    position: relative;
    margin: 0 auto;

    img {
      position: absolute;
      top: -150px;
      left: 25%;
      max-width: 250px;

      @media( max-width: $md ) {
        display: none;
      }
    }
  }
}