.example-container {
  background: white;
  min-height: 460px;

  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;

  .underline {
    font-size: .96rem;
    border-bottom: 2px solid $brand-orange;
    display: block;
    margin: 0 auto;

    @media( max-width: $md ) {
      width: 80%;
    }
  }

  .btn-secondary {
    @media( min-width: $md ) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .relative {
    position: relative;

    .background-layer {
      background: $primary;
      margin-top: 30px;
      margin-left: -30px;
      margin-right: -30px;
      padding: 10px;

      .example-screen {
        width: 90%;
        display: block;
        margin: 10px auto;
      }

      @media( min-width: $md ) {
        position: absolute;
        top: -30px;
        right: 0;
        width: 90%;
        height: 100%;
        min-height: 460px;
        padding: 0;
        margin: 0;

        .example-screen {
          position: absolute;
          width: 110%;
          top: 30px;
          right: 30px;
        }
      }
    }
  }
}