.faq-container {
  background: white;

  @media( min-width: $md ) {
    padding: 0;
  }

  .btn-link {
    width: 100%;
    text-align: left;
  }
}

#accordion {

  .step {
    @media( max-width: $md ) {
      margin-left: 30px;
    }
  }

  .btn-link {
    @media( max-width: $md ) {
      white-space: normal;
    }
  }
  .card {
    border: 0 none transparent;
    width: 100%;

    /*@media( min-width: $md ) {
      width: 50%;
      margin: 0 auto;
    }*/

    .col-md-8.header {
      border-bottom: 1px solid $gray-300;
    }
    .card-header {
      background: white;
      border: 0 none transparent;

      .btn-link {
        .step {
          color: black;
          font-family: $medium-font;
        }
      }
    }
  }
}