.einstieg-header-wrapper {
  background: $primary;
  min-height: 500px;
  color: white;

  > .container {
    position: relative;
  }

  h1 {
    font-size: 2rem;
    font-family: $bold-font;
    margin-bottom: 30px;
    margin-top: 50px;

    @media( min-width: $md ) {
      margin-bottom: 30px;
    }
  }

  p.marked {
    font-size: 1.2rem;
    color: black;
    background: $secondary;
    padding: 10px 20px 10px 10px;
    display: inline-block;

  }

  .header-img {
    @media( min-width: $md ) {
      margin-top: 65px;
    }
  }
}