.embed-steps-video {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: $box-shadow-lg;

  @media( min-width: $md ) {
    margin: 0 auto -30px;
  }
}

.steps-container {
  background: white;
  padding: 50px;

  > .row {
    .col-md-8 {
      border-bottom: 1px solid $gray-200;
    }
  }

}

.step {

  padding: 20px;
  margin: 5px;
  position: relative;

  @media( min-width: $md ) {
    font-size: 1.2rem;
    padding: 15px;
    margin: 15px;
  }

  .step-number {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: $primary;
    text-align: center;
    color: white;
    font-family: $bold-font;
    border-radius: 50%;
    font-size: 1.2rem;

    @media( max-width: $md ) {
      position: absolute;
      left: -35px;
      top: 30%;
    }

    @media( min-width: $md ) {
      margin-right: 30px;
      margin-left: -30px;
    }
  }
}